@CHARSET "ISO-8859-1";

body {
	margin: 20px;
	background-image:url('background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow:auto;
}
#div1 {
	display: inline-block;
	float:left;
}
table {
	background-color: rgba(255, 222, 173, 0.7);
	display: inline-block;
}

#tabella1 {
	position: relative;
	/*width: 400px;*/
	/*height: 300px;*/
	border: 1px solid black;
}

#tabella2 {
	position: relative;
	top: 10px;
	/*width: 400px;
	height: 100px;*/
	border: 1px solid black;
}

#tabella3 {
	position: relative;
	left: 20px;
	top: 0px;
	/*width: 700px;
	height: 400px;*/
	border: 1px solid black;
}

#logout {
position: relative;
left:20px;
display:block; 
float:left;
}
#titolo {
	color: red;
	border-bottom: 1px solid black;
}
