#title
{
	font-size:125%;
	color:white;
	background-color:rgba(0,51,153);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height:4vh;
	
}
body {
  background-color: rgba(0,51,153,0.2);
}
#emptyBox
		{
		background-color: rgba(255,255,255);
		float:left;
		width: 74.4%; 
		margin-left:0.3%;
		margin-top:0.3%; 
		height:61.8vh;
		/*border: 2px solid white;*/
		border-radius: 20px;
		}
#table0
		{
		float:left;
		width: 24.40%;
		height:98vh;
		overflow: auto;
		margin-right: 0.3%;
		/*border: 2px solid white;*/
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		/*border-radius: 20px;*/
		}
#table00
		{
		background-color: rgba(255,255,255);
		height:94vh;
		}
		
		
#table1
		{
		width: 44.10%;
		height:35vh;
		overflow: auto;
		float:left;
		margin-left:0.3%;
		margin-right:0.3%;
		margin-bottom:0.3%;
		/*border: 2px solid white;*/
		border-radius: 20px;
		}
		
#table11
		{
		background-color: rgba(255,255,255);
		height:31vh;
		/*normalmente se voglio settare la proprietà height in percentuale, tale percentuale
		rappresenta la porzione di altezza del blocco contenente questo elemento (in questo
		caso il body). Questo significa che devo settare l'altezza del body. Ma se tale altezza 
		la setto al 100% devo, per lo stesso ragionamento, settare anche il blocco che contiene 
		il body ossia <html>. per evitare questa catena di settaggi, possiamo usare la notazione
		height:40vh; cioè l'altezza di questo elemento sarà il 40% dell'altezza dei blocco che 
		lo contiene, supponendo che tutta la catena di genitori sia settata al 100% */
		}
		
#table2
		{
		float:left;
		width: 29.40%;
		height:35vh;
		overflow: auto;
		margin-left:0.3%;
		/*border: 2px solid white;*/
		border-radius: 20px;
		}
		
#table22
		{
		background-color: rgba(255,255,255);
		height:31vh;
		}
/* Al passaggio del mouse si ha uno sfondo più scuro */
.ddld:hover 
		{	
 		background-color: rgba(255,0,0,0.1);
}
.ddlc:hover 
		{	
 		background-color: rgba(255,216,0,0.1);
}